.about-container {
    background: url('../bg.jpg') no-repeat center center fixed; 
      -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 600px;
  } 

body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
 }

h1{
	color: #6092E5;
	font-size: 50px;
	font-weight: normal;
	margin-bottom: 0;
	text-shadow:
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		2px 2px 0 #000;
}


h2{
	color: white;
	font-size: 22px;
	margin-top: 0;
	text-shadow:
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		2px 2px 0 #000;
}


h3{
	color: #00004d;
	font-size: 22px;
	margin-top: 0;
	text-align: center;
	font-size: 28px;
	font-weight: normal;
	margin-top: 100px;
}

h4{
	text-align: center;
	font-size: 24px;
}

h5{
	color: #f2f2f2;
	font-size: 22px;
	margin-top: 0;
	text-align: center;
	font-size: 28px;
	font-weight: normal;
	margin-top: 100px;
}

p{
	text-align: center;
}

li {
  display: inline-block;
  font-size: 18px;
  width: 150px;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 100px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
  
	}

.bio {
	color: white;
	font-size: 16px;
	text-shadow:
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		2px 2px 0 #000;

	max-width: 1000px;        
	margin-left: auto;       
	margin-right: auto;      
	text-align: justify;     
}

.me {
	height: 150px;
	border-radius: 100%;
	border-style: solid;
	border-color: white;
	margin-top: 40px;
}

.about {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	text-shadow:
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		2px 2px 0 #000;
}

.grey {
	height: 5px;
	background-color: #b3b3b3;
	border: 5px double #4d4d4d;
	width: 50px;
}

.blue {
	height: 5px;
	background-color: #b3ccff;
	border: 5px double #003399;;
	width: 250px;
}

.box{
	float: left;
	
	width: 42.5%;
	margin-left: 5%;
	margin-top: 8%;
}

.clear {
	clear: both;
}

.full-width {
	width: 100%;
	max-width: none;
}

.skills-and-tools {
  max-width: 400px;
  margin: 40px auto;
}

.icons {
  text-align: center;
}

.icons {
  margin: 30px 0;
}

.contact-me {
  height: 350px;
  background-color: #202020;
  padding-top: 30px;
}

.contact-headline {
  color: white;
}

.contact-info {
  color: white;
  font-size: 13px;
  margin-top: 30px;
}

.contact-link {
  color: #ffffcc;
  font-weight: bold;
  font-size: 13px;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.hire-me {
  border-style: solid;
  border-color: white;
}

/*Desktop layout*/
.about-container ul {
	display: flex;
	justify-content: center;
	gap: 20px;
	list-style: none;
	padding: 0;
}

/*Mobile layout*/
@media screen and (max-width: 768px) {
	.about-container ul {
		flex-direction: column;
		align-items: center;
		background: transparent;
	}

	.about-container ul li {
		margin-bottom: 10px;
	}

	.nav-link {
		font-size: 18px;
	}
}

/* Overrides for full-width hero bio */
.about.full-width {
  max-width: 1000px;    /* or 800px if you prefer */
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0 2rem;
  text-align: center;   /* restore centering */
}
